.corusel-indicators {
    position: relative;
    right: 0;
    left: 0;
    bottom: 20px;
    /* top: 0; */
    z-index: 15;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
}

.dot-corusel {
    box-sizing: border-box;
    flex: 0 1 auto;
    width: 30px;
    height: 6px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: white;
    background-clip: padding-box;
    border-bottom: 1px solid transparent;
    opacity: 50%;
    transition: opacity .6s ease;
}