* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    padding-top: 150px;
}

.wrapper {
    position: relative;
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    /* background-color: rgb(117, 117, 236); */
    background-image: url('../img/roadm.jpg');
    border-radius: 50px;
    border: 20px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.car {
    height: 100px;
    width: 900px;
    position: absolute;
    left: 0;
    margin-top: 180px;
}

.car img {
    object-fit: cover;
    /* width: 200px; */
    height: 150px;
    transform: rotateY(180deg);
}

.rotateCar {
    transform: rotateY(0deg);
}

.btn {
    width: 500px;
    margin: 0 auto;
    display: flex;
}

.btn button {
    width: 80px;
    height: 80px;
    background-color: rgb(117, 117, 236);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 360px;
}

.pedal {
    width: 100px;
}

#Rbtn {
    transform: rotateY(180deg);
    margin-left: 50px;
}