.main {
    width: 800px;
    margin: 0 auto;
    /* margin-left: 150px; */
    display: flex;
}

.service-cards {
    display: flex;
}


/* 
.btns-box {
    background-color: #08da4e;
} */

.btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid;
    margin: 5px 15px;
    background-color: white;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.btn:hover,
.btn.active {
    color: white;
}

.btn-pink {
    border-bottom: 3px solid #f51f9c;
}

.btn-pink:hover,
.btn-pink.active {
    background-color: #f51f9c;
}

.btn-blue {
    border-bottom: 3px solid #2db6fa;
}

.btn-blue:hover,
.btn-blue.active {
    background-color: #2db6fa;
}

.btn-green {
    border-bottom: 3px solid #08da4e;
}

.btn-green:hover,
.btn-green.active {
    background-color: #08da4e;
}

.btn-red {
    border-bottom: 3px solid #e9222c;
}

.btn-red:hover,
.btn-red.active {
    background-color: #e9222c;
}

.btn-orange,
.btn-orange.active {
    border-bottom: 3px solid #f68c09;
}

.btn-orange:hover,
.btn-orange.active {
    background-color: #f68c09;
}

.btn-purple {
    border-bottom: 3px solid #b50edf;
}

.btn-purple:hover,
.btn-purple.active {
    background-color: #b50edf;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    width: 500px;
}

.service-box .icon {
    font-size: 36px;
    padding: 40px 20px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
    display: inline-block;
    line-height: 0;
    transition: 0.3s;
}

.service-box h3 {
    color: #444444;
    font-weight: 700;
}

.service-box .read-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
}

.service-box .read-more i {
    line-height: 0;
    margin-left: 5px;
    font-size: 18px;
}

.service-box.blue {
    border-bottom: 3px solid #2db6fa;
}

.service-box.blue .icon {
    color: #2db6fa;
    background: #dbf3fe;
}

.service-box.blue .read-more {
    color: #2db6fa;
}

.service-box.blue:hover {
    background: #2db6fa;
}

.service-box.orange {
    border-bottom: 3px solid #f68c09;
}

.service-box.orange .icon {
    color: #f68c09;
    background: #fde3c4;
}

.service-box.orange .read-more {
    color: #f68c09;
}

.service-box.orange:hover {
    background: #f68c09;
}

.service-box.green {
    border-bottom: 3px solid #08da4e;
}

.service-box.green .icon {
    color: #08da4e;
    background: #cffddf;
}

.service-box.green .read-more {
    color: #08da4e;
}

.service-box.green:hover {
    background: #08da4e;
}

.service-box.red {
    border-bottom: 3px solid #e9222c;
}

.service-box.red .icon {
    color: #e9222c;
    background: #fef7f8;
}

.service-box.red .read-more {
    color: #e9222c;
}

.service-box.red:hover {
    background: #e9222c;
}

.service-box.purple {
    border-bottom: 3px solid #b50edf;
}

.service-box.purple .icon {
    color: #b50edf;
    background: #f8e4fd;
}

.service-box.purple .read-more {
    color: #b50edf;
}

.service-box.purple:hover {
    background: #b50edf;
}

.service-box.pink {
    border-bottom: 3px solid #f51f9c;
}

.service-box.pink .icon {
    color: #f51f9c;
    background: #feecf7;
}

.service-box.pink .read-more {
    color: #f51f9c;
}

.service-box.pink:hover {
    background: #f51f9c;
}

.service-box:hover h3,
.service-box:hover p,
.service-box:hover .read-more {
    color: #fff;
}

.service-box:hover .icon {
    background: #fff;
}